[Unit]
Description=Cloud Native Web Application
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/webapp

# Load environment variables from file written by EC2 user data
EnvironmentFile=/opt/webapp/.env

Environment="PATH=/opt/webapp/venv/bin"

ExecStart=/opt/webapp/venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8080
Restart=on-failure
RestartSec=10s

NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target